streamlit
langchain_community
PyPDF2
spacy
chain
utils
langchain_groq
langchain_core
python-dotenv
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.5.0/en_core_web_sm-3.5.0.tar.gz
